<div class="row">
    <%= form_for(skill, class: "form", remote: true) do |f| %>
      <% if skill.errors.any? %>
        <div id="error_explanation">
          <h2><%= pluralize(skill.errors.count, "error") %> prohibited this skill from being saved:</h2>
          <ul>
          <% skill.errors.full_messages.each do |message| %>
            <li><%= message %></li>
          <% end %>
          </ul>
        </div>
      <% end %>

      <div class="col-md-2">
        <%= f.text_field :name, :class=>"form-control", placeholder: "Skill Name" %>
      </div>

      <div class="col-md-2">
        <div id="rateYo-<%=f.object.id||0%>"></div>
        <%= f.hidden_field :rate, :class=>"form-control", id: "rate-#{f.object.id||0}" %>
      </div>

      <div class="col-md-2">
        <%= f.text_field :industry, :class=>"form-control", placeholder: "Industry Type" %>
      </div>

      <div class="col-md-2">
        <%= f.text_field :total_exp, :class=>"form-control", placeholder: "Total Exp" %>
      </div>

      <div class="col-md-2">
        <%= f.label :is_certify, "Is Certify?" %>
        <%= f.check_box :is_certify %>
      </div>

      <div class="col-md-2">
        <%= f.submit("Save Skill", class: "btn btn-primary") %>
      </div>
    <% end %>
</div>