$(function () {
	var skill_id = <%=@skill.id%>;
	var show_skill = $("#row-"+skill_id).html();
	$("#row-"+skill_id).html("<td colspan='7'><%=j render 'form', skill: @skill %></td>");
  $("#rateYo-<%=@skill.id%>").rateYo({ halfStar: true, rating: <%= @skill.rate %>})
  .on("rateyo.set", function (e, data) {
    $("#rate-<%= @skill.id%>").val(data.rating);
  });

  $("#cancel_add_skill_edit").click(function(e){
  	$("#row-"+skill_id).html(show_skill);
		e.stopPropagation();
	});
});