<!DOCTYPE html>
<html>
  <head>
    <title>SkillRate</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
  	<div class="container">
        <%unless flash.blank?%>
          <p class="alert alert-info"><%= notice %></p>
        <%end%>
    	<%= yield %>
    </div>
  </body>
</html>
